h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
}

p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Container{
    display: flex;
    gap: 10px;
}

img{
    width: 500px;
    height: 300px;
  }

.Container h2{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

.footer{
  text-align: center;
  background:#111;
  color:white;
  padding:20px;
  text-align:center;
}

